name: Lint and Testing

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: '^1'
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --verbose

      - uses: hadolint/hadolint-action@v3.0.0
        name: hadolint for Dockerfile.linux.amd64
        with:
          dockerfile: docker/Dockerfile.linux.amd64
      - uses: hadolint/hadolint-action@v3.0.0
        name: hadolint for Dockerfile.linux.arm64
        with:
          dockerfile: docker/Dockerfile.linux.arm64
      - uses: hadolint/hadolint-action@v3.0.0
        name: hadolint for Dockerfile.linux.arm
        with:
          dockerfile: docker/Dockerfile.linux.arm

  testing:
    runs-on: ubuntu-latest
    container: golang:1.19-alpine
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: setup sshd server
        run: |
          apk add git make curl perl bash build-base zlib-dev ucl-dev
          make ssh-server

      - name: testing
        run: |
          make test
